# Env files
**/.env

# SQL files. No need to put that up. 
*.sql

#Powersehll secrets
*.race-secrets
*.secrets

# Potential large files
*.log
*.csv
*.exe
*.msi

#claude.md
CLAUDE.md


#code workspaces
*.code-workspace